body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.container
	padding-top: 50px
.dash_nav
    background: rgb(34, 34, 34);
    min-height: 600px;
    color: #fff;
.dash_nav ul li a
	color:#fff;
	text-decoration:none;
.dash_nav ul
	list-style:none;